$primary-color: #3968b0;
$secondary-color: #da8038;

html,
body {
  height: 100%;
  color: #333;
  font-family: 'PingFang SC', -apple-system, 'Segoe UI', 'Microsoft YaHei',
    sans-serif !important;
  overflow: auto;
}

#root {
  height: 100%;
}
